extends layout
include form-creator
append head
  link(rel='stylesheet' href='/stylesheets/form-styles.css')
  link(rel='stylesheet' href='/stylesheets/navbar.css')
block content
  div(class='answerpg-wrapper')
    include navbar
    +validationErrorSummary(errors)
    div(class='form-wrapper')
      div(class='header')
        h1 Answer a Cocktail-Q
        form(method='post' action=`/CocktailQs/${qId}/CocktailAs` class='form')
          input(type='hidden' name="_csrf" value=csrfToken)
          div(class='inner-form-wrapper')
            div(class='label-div')
              label(for="answer" class='labels') Cocktail-A Body:
            div(class='textarea-div')
              textarea(name="answer" value="" placeholder="Write your answer here", cols=92, rows=15)
          div(class='form-btn')
            button(class="btn" type="submit") Submit
