extends layout
include form-creator
block content
  +validationErrorSummary(errors)
  form(action='/CocktailQs/new' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    label(for='question') Cocktail-Q
    textarea(name="question", cols=92, rows=15, placeholder='Please Enter Cocktail-Q Here...') 
    div
      button(type='submit' class='btn') Post Cocktail-Q


//- fieldName, labelText, fieldValue, fieldType = 'text', placeholder = null
