div(class='navbar')
  a(href="/CocktailQs" class='logo')
    img(src="https://user-images.githubusercontent.com/75585372/110838068-0a8ea280-8270-11eb-9714-210200bb74e7.png", alt="Tipsy Stack Logo")
  input(type='text' class='search-bar' placeholder='Search...')
  div(class='user-btn-div')
    if(!user)
      a(href="/users/login" class='user-btn-a')
        button(type="submit" class='user-btn') Login
      a(href="/users/signup" class='user-btn-a')
        button(type='submit' class='user-btn') Signup
    if(user)
      form(action="/users/logout" method='post' class='user-btn-a')
        button(type='submit' class='user-btn') Logout
