extends layout

append head
  link(rel="stylesheet" href="/stylesheets/search-result.css")
  link(rel="stylesheet" href="/stylesheets/navbar.css")
  link(rel="stylesheet" href="/stylesheets/sidebar.css")

block content
 div(class="cocktail_q_wrapper")
    include navbar
    include sidebar
    div(class="cocktail_q_container")
        div(class="header")
            div(class="h2_container")
                h2(class="h2-title") Your Searched Result(s)...
                div(class="container_btn")
                    a(href='/CocktailQs/new')
                        button( type='submit' class='btn' id="ask_q_btn") Ask a new Cocktail-Q
            div(class="container_questions")
                each question in questions 
                    div(class='most_recent_questions')
                        a(href=`/CocktailQs/${question.id}` class='cocktail_q')= question.title
                    div(class="created")
                        p(class="created_by") Created by user: #{question.User.userName}
                        p(class='created-at') Posted: #{question.createdAt}
                    div(class="border-bottom")