
div(class='sidebar')
  a(href="/CocktailQs", class='home', class='link') <span class='home-button'>Home
  div(class='public-wrapper')
    div(class='public') PUBLIC
    div(class='public-links-wrapper')
<<<<<<< HEAD
      a(href="/users", class='users', class="link") Users
=======
      a(href="", class='users', class="link") Users
>>>>>>> main
  div(class='personal-wrapper')
    div(class='personal') PERSONAL LINKS
    div(class='personal-links-wrapper')
      a(href="", class='my-questions', class='link') My Questions
      a(href="", class='my-answers', class='link') My Answers
