
div(class='sidebar')
  div(class='sidebar-links')
    a(href="/CocktailQs", class='home link') 
      span(class='home-button') Home
    div(class='public-wrapper')
      div(class='public') PUBLIC
      div(class='public-links-wrapper')
        a(href="/CocktailQs/all", class='users', class='link') Questions
        a(href="/users", class='users', class="link") Users
    if locals.authenticated
      div(class='personal-wrapper')
        div(class='personal') PERSONAL LINKS
        div(class='personal-links-wrapper')
          a(href=`/users/${locals.user.id}`, class='my-questions', class='link') My Profile
    div(class='job-wrapper')
      div(class='job') FIND A JOB
      div(class='job-links-wrapper')
        a(href="https://www.indeed.com/q-Bartender-jobs.html", class='my-job link') Jobs
      div(class='job') Developers Pages 
      div(class='job-links-wrapper')
        a(href='https://github.com/arb5433', class='users', class='link') Adam Bailey
        a(href='https://github.com/Mikhail-Kashin', class='users', class='link') Mikhail Kashin 
        a(href='https://github.com/nishinelson', class='users', class='link') Nishi Nelson
        a(href='https://github.com/tristan-88', class='users', class='link') Tristan San Juan
