extends layout
include form-creator
block content
  +validationErrorSummary(errors)
  form(action='/users/signup', method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    +formCreator('userName', 'User Name', user.userName, 'text', 'Enter User Name')
    +formCreator('email', 'Email Address',user.email, 'email', 'Enter Email')
    +formCreator('password', 'Password', user.password, 'password', 'Enter Password')
    +formCreator('confirmPassword', 'Confirm Password', '', 'password', 'Confirm Your Password')
    div
      button(type='submit' class='btn') Sign up
//- fieldName, labelText, fieldValue, fieldType = 'text', placeholder = null
