extends layout
append head
  link(rel='stylesheet' href='/stylesheets/users-page.css')
  link(rel='stylesheet' href='/stylesheets/navbar.css')
  link(rel="stylesheet" href="/stylesheets/sidebar.css")
block content
  div(class='usersPg-wrapper')
    include navbar
    include sidebar
    div(class='users-wrapper')
      div(class='users-h2')
        h1= user.userName
      h2 Questions
      div(class='users-container')
        each question in user.CocktailQs
          div(class='user-divs')
            a(href=`/CocktailQs/${question.id}` class='user')= question.question
      h2 Answers
      div(class='users-container')
        each answer in user.CocktailAs
          div(class='user-divs')
            a(href=`/CocktailQs/${answer.cocktailQId}` class='user')= answer.CocktailQ.question
