extends layout
append head
  link(rel='stylesheet' href='/stylesheets/users-page.css')
  link(rel='stylesheet' href='/stylesheets/navbar.css')
  link(rel="stylesheet" href="/stylesheets/sidebar.css")
block content
  div(class='usersPg-wrapper')
    include navbar
    include sidebar
    div(class='user-wrapper')
      div(class='users-h2')
        h1= user.userName
      div(class='qAndA')
        div(class='qs')
          h2 Questions
          div(class='user-container questions')
            each question in user.CocktailQs
              div(class='user-divs')
                a(href=`/CocktailQs/${question.id}` class='user')= question.title
        div(class='as')
          h2 Answers
          div(class='user-container answers')
            each answer in user.CocktailAs
              div(class='user-divs')
                a(href=`/CocktailQs/${answer.cocktailQId}` class='user')= answer.CocktailQ.title
