.container_questions{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    /* flex-flow: wrap;
     */
    
}
.cocktail_q{
    font-weight:bolder;
    display: flex;
    justify-content: center;
    color: midnightblue;
    font-size: 20px;
    text-decoration: none;
    width: 30px;
    border: 3px ridge #0095ff;
    border-radius: 3px;
    padding: 30px;
    margin: 10px;
    margin: 5px;
    box-sizing: border-box;
    float: left;
    width: 510px;
    height: 10px;
    overflow: hidden;
    text-align: center;
    align-items: center;
    background-image: url('../images/logo.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    background-blend-mode:soft-light;
}


.cocktail_q:hover{
    background-blend-mode:luminosity;
    color:purple;
}

#ask_q_btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 34px;
    font-size: 20px;  
    border-radius: 3px;
}

.cocktail_q_container{
display: grid;
grid-row: 2;
justify-content: center;
justify-self: center;
 
}
 .created-at{
    /* font-weight: bolder; */
    display: flex;
    justify-content: center;
    color: midnightblue;
    font-size: 12px;
    /* width: 30px; */
    /* border: 5px ridge #0095ff; */
    border-radius: 3px;
    /* padding: 30px; */
    margin: 10px;
    /* margin: 5px; */
    /* box-sizing: border-box; */
    overflow: hidden;
    /* text-align: center; */
    /* align-self: center; */
    /* align-items: center; */
}  

 

.h2_container{
    display: flex;
    justify-content: space-between;
}

.cocktail_q_wrapper {
    display: grid;
    grid-template-rows: 80px 1fr; 
   
}

.most_recent_questions{
    display: flex;
    /* width: 500px; */
    /* height: 500px; */
    border: 4px ridge #0095ff;
    /* background-color: black; */
    flex-flow: column;
    margin: 20px;
    border-radius: 3px;
}

.created_by {
    display: flex;
    justify-content: center;
    color: midnightblue;
    font-size: 12px;
    font-weight: bold;
}

h2 {
    color: midnightblue;
}