.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 800px;

}

.inner-form-wrapper {
    border-radius: 3px;
    padding: 10px;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    grid-row: 2;
}

.inner-form-wrapper, .label-div, .labels, .textarea-div {
    background-color: white;
    margin-top: 15px;
}

.labels {
    margin-bottom: 10px;
}

.btn {
    margin-left: 0;
    margin-top: 35px;
}

.answerpg-wrapper {
    display: grid;
    grid-template-rows: 80px 1fr;
}
