.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 800px;

}

.inner-form-wrapper {
    border-radius: 3px;
    padding: 10px;
    border: 3px ridge #0095ff;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    grid-row: 2;
}

.inner-form-wrapper, .label-div, .labels, .textarea-div {
    background-color: white;
    margin-top: 15px;
}

.labels {
    margin-bottom: 10px;
}

.title-input{
    height: 20px;
    width: 97%;
    border-radius: 3px;
    border: 1px solid grey;
    margin-top: 15px;
}

.btn {
    margin-left: 0;
    margin-top: 35px;
}

.answerpg-wrapper {
    display: grid;
    grid-template-rows: 80px 1fr;
}

.alert,
.alert-p,
.alert-li,
.alert-ul{
  background-color: #f8d7da;
  margin: 10px;
  color: red;
  font-weight: bold;
  align-self: center;
}

.alert{
  border: 3px ridge darkred;
}
