.formDiv{
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  align-items: center;
  grid-row:
}

.loginPageWrapper{
  display: grid;
  grid-template-rows: 80px 1fr;
}

.form-label{
  background-color:white;
  padding-right: 10px;
}

.form-data{
  background-color:white
}

.form-inputs{
  background-color:white
}

.login-form{
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  background-color:white;
  border: 1px solid black;
  box-shadow: 0 10px 25px rgb(0 0 0 / 5%);
  padding: 24px;
  text-align: center;
  max-width: 400px;
}

.wrapper-login{
  background-color:white;
}

.login-logo{
  max-width: 9%;
  height:auto;
}

#email{
  margin-left: 10px;
  margin-bottom: 5px;
}

#password{
  display: inline-block;
  margin-left: 43px;
  margin-bottom: 5px;
}

#demoBtn{
  display: inline-block;
  position: relative;
  top: -40px;
}
