img{
  height: 58px;
  width: 100px;
  grid-column: 1;
  margin: 3px;
}

.navbar {
  display: flex;
  /* grid-template-columns: 1fr 3fr 1fr; */
  height: 50px;
  width: 100%;
  /* grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3; */
  background-color: white;
  border: 1px solid darkgray;
  border-top: 4px solid darkblue;
  position: fixed;
  margin-top: 0;
  justify-content: center;
}

.search-bar{
  /* grid-column: 2; */
  background-color: white;
  margin: 5px;
  width: 50vw;
  border: 3px solid darkblue;
  border-radius: 5px;
  height: 100%;
}

.user-btn-div{
  background-color: white;
  display: flex;
  justify-content: center;
  align-content: center;
}

.logo{
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: white;

}

.user-btn{
  margin: 15px;
  background-color: darkblue;
  color: white;
  border-radius: 5px;
}

.searchbar_container{
  background-color: white;
  display: flex;
  justify-content: flex-end;
}

.searchbar_form,
.search-button,
.user-btn-a{
  background-color: white;

}


.fa-search{
  border: 1px solid darkblue;
  cursor: pointer;
  background: darkblue;
  color: #fff;
  width: 26px;
  height: 23px;
  border-radius: 5px;
  text-align: center;
  border-radius: 0 5px 5px 0;
  margin-left: 15px;
}

.searchbar_form{
  vertical-align: middle;
}

.sbar-and-btn{
  background-color: white;
  margin-right: 4px;
  height: 60%;
}

.logo-image{
  background-image: url('https://user-images.githubusercontent.com/74081636/120671525-7a6f8c00-c45f-11eb-9387-bd2a27d5a4a3.PNG');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 12em;
  height: 100%;
  box-sizing: border-box;
  background-color: white;
  margin-right: 1em;
}

.logo-image:hover{
  background-image: url('https://user-images.githubusercontent.com/74081636/120671530-7cd1e600-c45f-11eb-85a7-f34c1b198290.PNG');
}

.user-btn-a:hover{
  background-color: #DCDCDC;
}
