.question-and-answer-wrapper{
  grid-column: 2;
  grid-row: 2;
}

.question-div{
  border-bottom: 1px grey;
  display: flex;
  flex-direction: column;
}

.specific-question{
  font-size: xx-large;
  font-weight: bold;
  vertical-align: baseline;
  margin-bottom: 0;
}

.specific-question-wrapper{
  border-bottom: 1px solid grey ;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.q-and-a-page-wrapper{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 80px 1fr;
  height: 100%;
  width: auto;
}

.answer-p{
  display: block;
  font-size: large;
  margin-bottom: 0%;
  border-bottom: 1px dashed darkblue;
  padding: 5px;
  background-color: #E8E8E8;
}

.back-and-post{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.btn-div1{
  display: flex;
  justify-content: flex-end;
}

.answers-wrapper{
  width: 75%;
}

.btn-anchor{
  align-self: center;
}

.answer-div{
  border: 1px dashed darkblue;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  background-color: #E8E8E8;
}

.created-at{
  font-size: 11px;
  text-align: center;
  border-bottom: 1px dashed darkblue;
  margin-top: 0;
  margin-bottom: 0;
  padding: 2px;
  background-color: #E8E8E8;
}

.created-at-wrapper{
  background-color: #E8E8E8;
}

.btn-div{
  background-color: #E8E8E8;
}

.fakebtn{
  background-color: #E8E8E8;
}