.question-and-answer-wrapper{
  grid-column: 2;
  grid-row: 2;
}

.question-div{
  border-bottom: 1px grey;
  display: flex;
  flex-direction: column;
}

.specific-question{
  font-size: xx-large;
  font-weight: bold;
  vertical-align: baseline;
  margin-bottom: 0;
  background-color: #E8E8E8;

}

.specific-question-wrapper{
  display: flex;
  margin-bottom: 32px;
}

.q-and-a-page-wrapper{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 80px 1fr;
  height: 100%;
  width: auto;
}

.answer-p{
  display: block;
  font-size: large;
  margin-bottom: 0%;
  border-bottom: 1px dashed darkblue;
  padding: 5px;
  background-color: #E8E8E8;
}

.back-and-post{
  display: flex;
  justify-content: center;
  align-items: center;  
}

.btn-div1{
  display: flex;
  justify-content: flex-end;
}

.answers-wrapper{
  width: 75%;
}

.btn-anchor{
  align-self: center;
}

.answer-div{
  border: 1px dashed darkblue;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  background-color: #E8E8E8;
}

.created-at,
.created-by{
  font-size: 11px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 2px;
  background-color: #E8E8E8;
}

.created-at-wrapper,
.btn-div,
.fakebtn,
.votes-wrapper,
.vote-display,
.upvote-div,
.downvote-div,
.vote-display-div,
.edit-and-delete-btns{
  background-color: #E8E8E8;
}

.votes-wrapper{
  display: flex;
  grid-column: 1;
}

.vote-icons{
  height: 20px;
  width: 20px;
  border-radius: 20px;
}
.vote-display{
  font-size: 20px;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
}

.lower-answer-wrapper{
  display: grid;
  grid-template-columns: 70px 1fr;
  border-bottom: 1px dashed darkblue;
}

.question-and-buttons{
  border: 3px ridge #0095ff;
  padding: 5px;
  background-color: #E8E8E8;
  width: 75%;
  box-sizing: border-box;
}