.question-and-answer-wrapper{
  grid-column: 2;
  grid-row: 2;
  margin-left: 24px;
  width: 60vw;
}

.question-div{
  /* border-bottom: 1px grey; */
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-left: 0px;
  padding-right: 0;
}

.q-title-container{
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.q-title {
  font-size: 27px;
  margin: 0;
}

.specific-question{
  font-size: 15px;
  /* text-align: center; */
  margin-bottom: 0;
  margin-top: 0;
  /* background-color: #E8E8E8; */
  vertical-align: baseline;
  /* border-bottom: 1px dashed darkblue */
}

.specific-question-wrapper{
  display: flex;
  margin-bottom: 32px;
}

.q-and-a-page-wrapper{
  display: grid;
  grid-template-columns: 25vw 75vw;
  grid-template-rows: 80px 1fr;
  height: 100%;
  width: auto;
}

.answers-heading{
  font-size: 19px;
  height: 37px;
  margin-bottom: 8px;
}

.answer-p{
  display: block;
  font-size: large;
  margin-top: 0%;
  /* border-bottom: 1px dashed darkblue; */
  /* padding: 5px; */
  /* background-color: #E8E8E8; */
}

.back-and-post{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-div1{
  display: flex;
  justify-content: flex-end;
}

.answers-wrapper{
  width: 75%;
}

.btn-anchor{
  align-self: center;
}

.answer-div{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(229, 229, 255);
  padding-bottom: 10px;
  /* border: 1px dashed darkblue; */
  /* padding: 5px; */
  margin: 16px 0;
  /* border-radius: 10px; */
  /* background-color: #E8E8E8; */
}

.created-at,
.created-by{
  /* text-align: center; */
  margin-top: 0;
  margin-bottom: 0;
  padding: 2px;
  /* background-color: #E8E8E8; */
  font-size: 12px;
  color: midnightblue;
}

.created-at-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#q-post{
  display: flex;
  justify-content: flex-end;
}

.a-post {
  display: flex;
  justify-content: flex-start;
}

.post-div{
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 54%;
}

.created-at-wrapper,
.btn-div,
.fakebtn,
.votes-wrapper,
.vote-display,
.upvote-div,
.downvote-div,
.vote-display-div,
.edit-and-delete-btns{
  /* background-color: #E8E8E8; */
}

.votes-wrapper{
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  /* grid-column: 1; */
}

.vote-icons{
  height: 20px;
  width: 20px;
  border-radius: 20px;
}
.vote-display{
  font-size: 20px;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
}

.lower-answer-wrapper{
  /* display: grid; */
  /* grid-template-columns: 70px 1fr; */
  /* border-bottom: 1px solid rgb(229, 229, 255); */
  width: 100%;
}

.question-and-buttons{
  /* border: 3px ridge #0095ff; */
  /* padding: 5px; */
  background-color: #E8E8E8;
  width: 74%;
  box-sizing: border-box;
}

.edit-and-delete-btns{
  display: flex;
}
.created-q-wrapper{
  /* border-bottom: 1px solid darkblue; */
  border-bottom: 1px solid #e4e6e8;
  padding-bottom: 8px;
}

.created-by{
  font-weight: bold;
  width: 74%;
  display: flex;
  justify-content: flex-start;
}

.no-answers{
  border: 3px ridge #0095ff;
  width: 100%;
  height: 275px;
  box-sizing: border-box;
  background-image: url('https://user-images.githubusercontent.com/74081636/111007596-3471c300-835d-11eb-839f-f65dba876d0c.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-answers-text{
  background-color: transparent;
  text-align: center;
  text-shadow: -1px 1px 2px #0095ff,
    1px 1px 2px #0095ff,
    1px -1px 0 #0095ff,
    -1px -1px 0 #0095ff;
  font-size: x-large;
  color: darkblue;
}

.answer-form-header{
  margin: 20px 0px;
}

.textarea-div {
  width: 75%;
}

.form-btn{
  margin: 20px 0px;
  font-size: 13px;
}
