.container_questions{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    /* flex-flow: wrap;
     */
    
}
.cocktail_q{
    font-weight:bolder;
    display: flex;
    justify-content: center;
    color: midnightblue;
    font-size: 20px;
    text-decoration: none;
    border: 3px ridge #0095ff;
    border-radius: 3px;
    padding: 30px;
    margin: 10px;
    margin: 5px;
    box-sizing: border-box;
    float: left;
    width: 600px;
    height: 10px;
    overflow: hidden;
    text-align: center;
    align-items: center;
    background-image: url('../images/logo.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    background-blend-mode:soft-light;
    align-self: center;
    color: white;
    background-color: transparent;
    text-shadow: -1px 1px 2px #0095ff,
				  1px 1px 2px #0095ff,
				  1px -1px 0 #0095ff,
				  -1px -1px 0 #0095ff;
}


.cocktail_q:hover{
    background-blend-mode:luminosity;
    color:red;
   
}

#ask_q_btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 34px;
    font-size: 20px;  
    border-radius: 3px;
}

.cocktail_q_container{
display: grid;
grid-row: 2;
justify-content: center;
justify-self: center;
 grid-column-start: 2;
grid-column-end: 5;
grid-row-end: 3;
grid-row: 2;
align-self: center;
width: 100%;
}
 .created-at{
    display: flex;
    justify-content: center;
    color: midnightblue;
    font-size: 12px;
    border-radius: 3px;
    margin: 10px;
    overflow: hidden;
}  

.h2_container{
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    align-items: center;
    color: lightsteelblue;
    background-color: transparent;
    text-shadow: -1px 1px 2px #0095ff,
				  1px 1px 2px #0095ff,
				  1px -1px 0 #0095ff,
				  -1px -1px 0 #0095ff;
}

.cocktail_q_wrapper {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 80px 1fr;
    height: 100%;
    width: auto;
}

.most_recent_questions{
    display: flex;
    /* width: 500px; */
    /* height: 500px; */
    border: 4px ridge #0095ff;
    /* background-color: black; */
    flex-flow: column;
    margin: 20px;
    border-radius: 3px;
    align-self: center;
    width: 610px;
}

.created_by {
    display: flex;
    justify-content: center;
    color: midnightblue;
    font-size: 12px;
    font-weight: bold;
}


