.sidebar{
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid darkblue;
  border-right: 1px solid darkblue;
  height: 100%;
  margin: 10px;
  margin-top: -30.5px;
  margin-left: 0px;
  position: fixed;
  top: 100px;
  background-color: white;
  padding: 10px;
  background-image: url("https://user-images.githubusercontent.com/75585372/110873612-20b45700-82a0-11eb-9f59-a49269eb1a6e.jpg");
  background-size: 100%;
  width: 200px;
  box-sizing: border-box;
}

.home{
  color: white;
  background-color: transparent;
  text-shadow: -1px 1px 2px #0095ff,
  1px 1px 2px #0095ff,
  1px -1px 0 #0095ff,
  -1px -1px 0 #0095ff;
}

.home-button{
  font-size: 25px;
  background-color: transparent;
  font-weight: bold;
  color: lightsteelblue;
}

.public,
.job{
  font-size: 20px;
  background-color: transparent;
  margin-bottom: 8px;
  font-weight: bold;
  color: lightsteelblue
}

.users,
.my-questions,
.my-job{
  font-size: 17px;
  background-color: transparent;
  margin-left: 15px;
  color: white;
  text-shadow: -1px 1px 2px #0095ff,
				  1px 1px 2px #0095ff,
				  1px -1px 0 #0095ff,
				  -1px -1px 0 #0095ff;
}

.personal,
.job{
  background-color: transparent;
  position: relative;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
  color: lightsteelblue
}

.public-wrapper,
.personal-wrapper,
.job-wrapper{
  color: white;
  background-color: transparent;
  text-shadow: -1px 1px 2px #0095ff,
          1px 1px 2px #0095ff,
          1px -1px 0 #0095ff,
          -1px -1px 0 #0095ff;
}

.link{
  text-decoration: none;
  background-color: transparent;
}

.home-button:hover,
.link:hover{
  color: darkblue;
}

.sidebar-links{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  top: 180px;
  background-color: transparent;
}

.home,
.public-wrapper,
.personal-wrapper,
.job-wrapper{
  margin: 25px;
  margin-left: 5px;
}

.public-links-wrapper,
.personal-links-wrapper,
.job-links-wrapper{
  background-color: transparent;
}
