.sidebar{
  /* grid-column: 1;
  grid-row: 2; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  border: 1px solid darkblue;
  border-right: 1px solid darkblue;
  border-top: transparent;
  height: 100%;
  margin: 10px;
  margin-top: -30.5px;
  margin-left: 0px;
  position: fixed;
  top: 85px;
  background-color: white;
  padding: 10px;
  /* background-image: url("https://user-images.githubusercontent.com/75585372/110873612-20b45700-82a0-11eb-9f59-a49269eb1a6e.jpg"); */
  background-size: 100%;
  width: 25vw;
  box-sizing: border-box;
}

.home{
  color: slategrey;
}

.home-button{
  font-size: 1em;
  background-color: transparent;
}

.public,
.job{
  font-size: 1em;
  background-color: transparent;
  margin-bottom: 8px;
  color: slategrey
}

.users,
.my-questions,
.my-job{
  background-color: transparent;
  margin-left: 15px;
  text-decoration: none;
  color: slategrey;
}

.personal,
.job{
  background-color: transparent;
  position: relative;
  margin-bottom: 8px;
}

.public-wrapper,
.personal-wrapper,
.job-wrapper{
  background-color: transparent;
}

.link{
  text-decoration: none;
  background-color: transparent;
}

.home-button:hover,
.link:hover{
  color: darkblue;
  background-color: #DCDCDC;
  font-weight: bold;
  color: black;
  border-right:3px solid darkblue;
}

.sidebar-links{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  /* top: 180px; */
  width: 200px;
  background-color: transparent;
  padding-left: 40px;
  box-sizing: border-box;
}

.home,
.public-wrapper,
.personal-wrapper,
.job-wrapper{
  margin: 25px;
  margin-left: 5px;
  margin-right: 7px
}

.public-links-wrapper,
.personal-links-wrapper,
.job-links-wrapper{
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.users, .my-job{
  margin-top: 1em;
  width: 100%;
}

.active{
  background-color: #DCDCDC;
  font-weight: bold;
  color: black;
  border-right:2px solid darkblue;
}

.home{
  margin-right: -11px;
}