.signUpDiv{
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  align-items: center;
}

.form-label{
  background-color:white;
  padding-right: 10px;
}

.form-data{
  background-color:white
}

.form-inputs{
  background-color:white
}

.signup-form{
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  background-color:white;
  border: 1px solid black;
  box-shadow: 0 10px 25px rgb(0 0 0 / 5%);
  padding: 24px;
  text-align: left;
  max-width: 400px;
}

.signup-wrap{
  background-color:white;
  display: flex;
  justify-content: center;
}

.signup-logo{
  display: inline-block;
  margin-left: 150px;
  max-width: 9%;
  margin-bottom: 10px;
  height:auto;
}

#userName{
  display: inline-block;
  margin-left: 49px;
  margin-bottom: 5px;
}

#email{
  margin-left: 28px;
  margin-bottom: 5px;
}

#password{
  display: inline-block;
  margin-left: 61px;
  margin-bottom: 5px;
}

#confirmPassword{
  display: inline-block;
}
