.usersPg-wrapper{
    display: grid;
    grid-template-rows: 80px 1fr;
    /* grid-template-columns: 1fr 2fr 2fr; */
}

.users-wrapper, .user-wrapper {
    display: flex;
    justify-content: center;
    grid-row: 2;
    grid-column: 2;
    flex-direction: column;
    flex-wrap: wrap;
}

.user-container{
    grid-row: 2;
    grid-column: 2;
    overflow-y: auto;
    height: 400px;
    width: 600px;
}

.users-container{
    display: flex;
    flex-flow: wrap;
    grid-row: 2;
    grid-column: 2;
    justify-content: center;
    width: 1200px;
}

.users-h2{
    width: 1200px;
    justify-content: flex-start;
}

.title{
    margin-left: 50px;
}

.user{
    display: flex;
    font-size: 20px;
    font-weight:bolder;
    border:  3px ridge #0095ff;
    padding: 20px;
    margin: 15px;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    background-image: url('../images/logo.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    background-blend-mode:soft-light;
    background-color: transparent;
    text-shadow: -1px 1px 2px #0095ff,
				  1px 1px 2px #0095ff,
				  1px -1px 0 #0095ff,
				  -1px -1px 0 #0095ff;
    width: 500px;
}

.answers{
    display: flex;
    justify-content: center;
    grid-row: 2;
    grid-column: 3;
    flex-direction: column;
}

.user:hover{
    background-blend-mode:luminosity;
    color: midnightblue;
}

.grab {
  width: 300px;
  justify-content: center;
}
