.usersPg-wrapper{
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 200px 1fr;
}

.users-wrapper, .user-wrapper {
    display: flex;
    justify-content: center;
    grid-row: 2;
    grid-column: 2;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 50px;
}

.user-wrapper{
  justify-content: flex-start;
  height: 650px;
}

.qAndA{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
    width: 1200px;
}

.questions{
    grid-column: 1;
}

.answers{
    grid-column: 2;
}

.user-container{
    overflow-y: auto;
    height: 400px;
    width: 600px;
}

.users-container{
    display: flex;
    flex-flow: wrap;
    grid-row: 2;
    grid-column: 2;
    justify-content: start;
    width: 1200px;
    padding-left: 50px;
}

.users-h2{
    width: 100%;
    justify-content: flex-start;
}

.title{
    margin-left: 50px;
}

.user{
    display: flex;
    font-size: 20px;
    font-weight:bolder;
    /* border:  3px rige #0095ff; */
    padding: 20px;
    margin: 15px;
    border-radius: 3px;
    text-decoration: none;
    color: #0095FF;
    /* background-image: url('../images/logo.png'); */
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    background-blend-mode:soft-light;
    background-color: transparent;
    /* text-shadow: -1px 1px 2px #0095ff,
				  1px 1px 2px #0095ff,
				  1px -1px 0 #0095ff,
				  -1px -1px 0 #0095ff; */
    width: 500px;
}

.user:hover{
    background-blend-mode:luminosity;
    color: midnightblue;
}

.grab {
  width: 300px;
  justify-content: center;
}
