extends layout
include form-creator
block content
  +validationErrorSummary(errors)
  form(method='post' action=`/CocktailQs/${qId}/CocktailAs`)
    input(type='hidden' name="_csrf" value=csrfToken)
    label(for="answer") Cocktail-A
    textarea(name="answer" value="" placeholder="Write your answer here")
    button(class="btn" type="submit") Submit
