extends layout
include form-creator
block content
  +validationErrorSummary(errors)
  form(method='post' action=`/CocktailQs/${cocktailA.cocktailQId}/CocktailAs/${cocktailA.id}`)
    input(type='hidden' name='_csrf' value=csrfToken)
    label(for="answer") Cocktail-A
    textarea(name="answer", cols=92, rows=15)
    button(class="btn" type="submit") Update
