extends layout
include form-creator
block content
  +validationErrorSummary(errors)
  form(method='post' action='/Cocktail-Q/#{cocktailA.cocktailQId}/Cocktail-A/#{cocktailA.id}')
    label(for="answer") Cocktail-A
    textarea(name="answer" value=cocktailA.answer)
      button(class="btn" type="submit") Update
